/* sub1.css 회사소개 */
#wrap {width: 100%; margin: 0 auto;}
#header {
    width: 100%; height: 84px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    /* background-color: red; */
    z-index: 3;
}
#title {
    width: 100%; height: 421px;
    background-image: url('/img/회사소개/title.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#contents {
    width: 100%; height: 100%;
    position: relative;
    z-index: -999px;
}
#content1 {width: 100%; height: 290px;}
#content2 {width: 100%; height: 568px;}
#content3 {
    width: 100%; height: 1853px; 
    background-image: url('/img/회사소개/content3_bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#footer {width: 100%; height: 300px; background-color: #1D1D1D;}


@media (max-width: 1930px) {
    #wrap {width: 100%;}
}
/* 화면 너비 0~1200px (20px은 오차범위) */
 @media (max-width: 1220px) {
    #wrap {width: 100%;}
}
 /* 화면 너비 0~768px */
@media (max-width: 768px) {
    #wrap {width: 100%;}
}
 /* 화면 너비 0~480px */
@media (max-width: 480px) {
    #wrap {width: 100%;}
}


/* 헤더 */
#header .container1200 {
    width: 1200px; height: 84px;
    margin: 0 auto;
    position: relative;
    /* outline: 1px solid red; */
}
#header nav{
    position: absolute;
    right: 0; top: 32px;
}
#header nav > ul.depth1 > li {
    float: left;
    text-align: center;
    font-size: 16px;
    z-index: 1;
}
#header nav > ul.depth1 > li > a {
    display: block;
    padding: 0px 40px;
    color: #fff;
    padding-bottom: 25px;
    font-weight: 300;
}
/* 2단계 밑줄 호버 */
#header nav ul.depth2 > li > a {
    color: rgb(119, 119, 119);
    font-size: 15px;
    position: relative;
	display: inline-block;
	/* margin: 5px 0px; */
	outline: none;
	text-decoration: none;
	text-transform: uppercase;
	/* letter-spacing: 1px; */
	font-weight: 400;
    text-shadow: 0 0 1px rgba(255,255,255,0.3);
    -webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
    transition: color 0.3s;
    padding: 3px;
    /* outline: 1px solid red; */
}
#header nav ul.depth2 > li > a::after {
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
	background: #016dba;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}
#header nav ul.depth2 > li > a::after {
	bottom: 0;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
}
#header nav ul.depth2 > li > a:hover::before,
#header nav ul.depth2 > li > a:focus::before,
#header nav ul.depth2 > li > a:hover::after,
#header nav ul.depth2 > li > a:focus::after {
	opacity: 1;
	-webkit-transform: translateY(-1px);
	-moz-transform: translateY(-1px);
	transform: translateY(-1px);
}


#header nav ul.depth2 li {
    margin-top: 13px;
    /* outline: 1px solid red; */
}
#header .container1500 {
    width: 1500px; height: 84px;
    margin: 0 auto;
    overflow: hidden;
    transition-duration: 0.3s;
}
#header .logo {
    width: 114.24px; height: 40px;
    background-image: url('/img/header_logo1.png');
    z-index: 1;
    position: relative;
    top: 21px;
}
.down {
    background-color:rgba(0,0,0,.8);
    -webkit-transition-duration:0.4s;
    -webkit-transition-timing-function:ease;
    transition-duration:0.4s;
    transition-timing-function:ease;
  }

/* 타이틀 */
#title > .container1200 {
    width: 1200px; height: inherit;
    /* outline: 1px solid red; */
    margin: 0 auto;
    text-align: center;
    position: relative;
}
#title > .container1200 > h2 {
    padding-top: 140px;
    font-size: 15px;
    font-weight: 300;
    color: #fff;
}
#title > .container1200 > h1 {
    font-size: 34px;
    font-weight: 700;
    color: #fff;
}

/* 서브 네비게이션 */
#title .sub_nav {
    width: 1500px; height: 70px;
    background-color: #fff;
    position: absolute;
    left: -150px;
    bottom: 0;
}
#title .sub_nav ul{
    display: flex;
    justify-content: center;
}
#title .sub_nav ul li {
    float: left;
}
#title .sub_nav ul li a {
    display: block;
    padding-left: 35px;
    line-height: 70px;
    font-size: 17px;
    font-weight: 300;
}
#title .sub_nav ul li:first-child a {
    padding-left: 0;
}
  
/* 콘텐츠 레이아웃1500 */
#contents > .container1500 {
    width: 1500px;
    margin: 0 auto;
    /* outline: 1px solid blue; */
    background-color: #fff;
    box-shadow: 12px -2px 20px 1px rgba(0, 0, 0, 0.041);
}


/* 콘텐츠1 */
#content1 > .container1200 {
    width: 1200px; height: inherit;
    margin: 0 auto;
}
#content1 .top {
    text-align: start;
    padding-top: 70px;
}
#content1 .top span {
    font-size: 14px;
    padding-left: 5px;
}
#content1 .top img {
    width: 15px; height: 15px;
}
#content1 .bottom .left {
    width: 357px;
    float: left;
    text-align: start;
}
#content1 .bottom .left h2 {
    font-size: 41px;
    font-weight: 100;
    margin-top: 60px;
    margin-bottom: 10px;
}
#content1 .bottom .left h2 > span {
    font-weight: 700;
}
#content1 .bottom .left h3 {
    font-size: 12px;
    color: #00ABC7;
    letter-spacing: 6px;
    font-weight: 700;
}

#content1 .bottom .right {
    border-left: 1px solid #E7E7E7;
    width: 790px;
    float: right;
    text-align: start;
    padding: 16px 0 16px 45px;
    margin-top: 70px;
}
#content1 .bottom .right h4 {
    font-size: 17px;
}


/* 콘텐츠2 */
#content2 > .container1200 {
    width: 1200px; height: inherit;
    margin: 0 auto;
}
#content2 .bg {
    width: 1200px; height: 359px;
    background-image: url('/img/회사소개/visual-2.png');
    text-align: center;
}
#content2 .bg > p {
    color: #fff;
    font-size: 20px;
    line-height: 359px;
}
#content2 .text {text-align: center; height: 204px;}
#content2 .text p {
    font-size: 80px;
    font-weight: 700;
    letter-spacing: 16px;
    line-height: 204px;
    color: #016dba3f;
}


/* 콘텐츠3 */
#content3 > .container1200 {
    width: 1200px; height: inherit;
    margin: 0 auto;
}
#content3 .text {
    padding: 100px 100px 190px 100px;
}
#content3 .text h5 {
    font-size: 24px;
    color: #016CBA;
}
#content3 .text p {
    margin-top: 30px;
    font-weight: 300;
}
/* 서비스구조 */
#content3 .structure {
    text-align: center;
}
#content3 .structure h3 {
    letter-spacing: 6px;
    font-size: 13px;
}
#content3 .structure h2 {
    font-size: 37px;
    color: #016CBA;
    font-weight: 700;
    margin-bottom: 5px;
}
#content3 .circles {
    width: 1096px; height: 482.5;
}
#content3 .circle {
    position: relative;
}
#content3 .circle > .number  {
    position: absolute;
    bottom: 75px;
    left: 50px;
}
#content3 .circle > .number > div {
    display: inline-block;
    width: 185px;
    margin-right: 117px;
}
#content3 .circle > .number > div:last-child {
    margin-right: 0;
}
#content3 .circle > .number > div > h4 {
    font-size: 21px;
    font-weight: 700;
    color: #BFC7F1;
    margin-bottom: 10px;
}
#content3 .circle > .number > div > h5 {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
}

/* 박스 */
#content3 .box div {
    width: 288px; height: 300px;
    background-color: #fff;
    display: inline-block;
    /* padding: 20px 10px 0 10px; */
}
#content3 .box {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
#content3 .box ul {
    /* outline: 1px solid blue; */
    margin: 20px 20px 0 20px;
}
#content3 .box ul li {
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 5px;
}
#content3 .box ul li img{
    margin-right: 5px;
}
#content3 .box div:last-child a > img {
    width: 144px; height: 40px;
    margin-top: 130px;
    margin-left: 120px;
}


/* 푸터 */
#footer .container1200 {
    width: 1200px; height: inherit;
    margin: 0 auto;
    /* outline: 1px solid red; */
    color: #868686;
    font-size: 12px;
    position: relative;
}
/* top */
#footer .top > div {
    float: left;
}
#footer .top > .left {
    width: 600px;
}
#footer .top > .right {
    width: 600px;
}
#footer .top > .left > h1 img{
    margin-top: 25px;
    margin-bottom: 40px;
}
#footer .top > .left > p {
    margin-bottom: 30px;
}
#footer .top > .right ul {
    position: absolute;
    right: 0;
    top: 40px;
}
#footer .top > .right ul li {
    float: left;
}
#footer .top > .right ul li a {
    color: #868686;
    display: block;
    padding-left: 25px;
    font-size: 14px;
}
#footer .top > .right ul li:nth-child(2) {
    font-weight: 700;
}
/* bottom */
#footer .bottom > div {
    float: left;
}
#footer .bottom > .left {
    width: 600px;
}
#footer .bottom > .right {
    width: 600px;
}
#footer .bottom > .left p {
    line-height: 90px;
}
#footer .bottom > .right ul {
    position: absolute;
    bottom: 38px;
    right: 0;
}
#footer .bottom > .right ul li {
    float: left;
    padding-left: 6px;
}